.row{
    margin-left: 20px;
}
.row__posters{
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;
    -ms-overflow-style: none;
}
.row__posters::-webkit-scrollbar{
    display: none;
}

.row__posterWrapper{
    margin-right: 15px;
    width: 100%;
    position: relative;
}

.row__poster {
    object-fit: contain;
    max-height: 150px;
    transition: all 450ms;
}
.row__posterWrapper:before{
    content: "";
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #131A22;
    opacity: 0.8;
    z-index: 4;
}

.row__posterWrapper:hover:before{
    display: block;
}
.row__posterWrapper:hover .row__button{
    display: block;
    transform: scale(1.06);
}
.row__posterLarge {
    max-height: 250px;
}
.row__posterLarge:hover {
    transform: scale(1.08);
}
.row__trailer{
    width: 100%;
}
.row__movieHover{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
}
.row__button{
    display: none;
    cursor: pointer;
    color: #fff;
    outline: none;
    border: none;
    font-weight: 700;
    border-radius: 0.2vw;
    padding: 0.3rem 1rem;
    margin: 0 0.5rem;
    background-color: rgba(51, 51, 51, 0.5);
    z-index: 6;

}
.row__button:hover{
    color: #000;
    background-color: #e6e6e6;
    transition: all 0.2s;
}

a{
    text-decoration: none;
}
